@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 20px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #4b5563;
  }
}

body {
  background-color: #0b0e11;
}